body {
min-width: 1090px;
}
.content-outer, .content-fauxcolumn-outer, .region-inner {
min-width: 1090px;
max-width: 1090px;
_width: 1090px;
}
.main-inner .columns {
padding-left: 0;
padding-right: 380px;
}

.mobile .main-inner .columns {
padding-right: 0px;
}

.main-inner .fauxcolumn-center-outer {
left: 0;
right: 370px;
/* IE6 does not respect left and right together */
_width: expression(this.parentNode.offsetWidth -
parseInt("0") -
parseInt("370px") + 'px');
}
.main-inner .fauxcolumn-left-outer {
width: 0;
}
.main-inner .fauxcolumn-right-outer {
width: 370px;
}
.mobile.main-inner .fauxcolumn-right-outer {
width: 0px;
}

.main-inner .column-left-outer {
width: 0;
right: 100%;
margin-left: -0;
}
.main-inner .column-right-outer {
width: 370px;
margin-right: -370px;
}
#layout {
min-width: 0;
}
#layout .content-outer {
min-width: 0;
width: 800px;
}
#layout .region-inner {
min-width: 0;
width: auto;
}
